* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 0 auto;
}

.list {
	padding: 20px 0 20px 20px;
}

.list:nth-child(1) {
	margin-top: 50px;
}

.list:nth-child(odd) {
	background-color: gray;
}

.box {
	width: 30%;
	height: 200px;
	float: left;
}

.box:nth-child(n+2):nth-child(-n+4),
.box:nth-child(n+6):nth-child(-n+8) {
	background-color: yellow;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
	background-color: orange;
}

.box:nth-child(n+1):nth-child(-n+3) {
	margin-top: 50px;
}

.box:nth-child(n+7):nth-child(-n+9) {
	margin-bottom: : 50px;
}

.box:nth-child(n+1):nth-child(-n+6) {
	margin-bottom: 40px;
}

.box:not(:nth-child(3n)) {
	margin-right: 5%;
}